In [1]:
import os
import pandas as pd

In [2]:
# project_path = os.getcwd()
project_path = r"D:\adham-till-code"

In [6]:
file_path = pd.read_pickle(os.path.join(project_path, 'file_path.pkl'))

In [7]:
file_path.head()

                                                  file_path
image_id
0000000_  \images\coco2017_train\train2017\000000147328.jpg
0000001_  \images\coco2017_train\train2017\000000414738.jpg
0000002_  \images\coco2017_train\train2017\000000281563.jpg
0000003_  \images\coco2017_train\train2017\000000063879.jpg
0000004_  \images\coco2017_train\train2017\000000531349.jpg

In [9]:
file_path.tail()

                                    file_path
image_id
0214000_  \images\FFHQ_images\47000\47995.png
0214001_  \images\FFHQ_images\47000\47996.png
0214002_  \images\FFHQ_images\47000\47997.png
0214003_  \images\FFHQ_images\47000\47998.png
0214004_  \images\FFHQ_images\47000\47999.png

In [8]:
new_path = pd.read_pickle(os.path.join(project_path, 'file_path_extra.pkl'))
new_path.shape

(46901, 1)

## Setup the database

In [3]:
import sqlite3

folder_path = os.path.join(project_path, "databases")
# Check if the folder exists
if not os.path.exists(folder_path):
    # Create the folder if it doesn't exist
    os.makedirs(folder_path)
    print(f"The folder '{folder_path}' has been created.")
    
# setup a database
conn = sqlite3.connect(os.path.join(project_path, "databases/file_path.db"))

In [4]:
# setup a cursor object
curs = conn.cursor()

In [38]:
conn.rollback()

In [7]:
curs.execute(
    """CREATE TABLE IF NOT EXISTS image_path
       (image_id text UNIQUE,
        file_path text UNIQUE)
    """)

# If the table is created successfully, commit the changes to the database
conn.commit()

In [39]:
# save it into sql
try:
    #file_path.to_sql('image_path', conn, if_exists='append', index=True)
    new_path.to_sql('image_path', conn, if_exists='append', index=True)
    conn.commit()
except:
    print("The id you want to insert existed in the database")

In [5]:
curs.execute("""SELECT * FROM image_path""")
curs.fetchall()[-1]

('0214004_', '\\images\\FFHQ_images\\47000\\47999.png')

In [40]:
# check how many entries are there
curs.execute("""SELECT * FROM image_path""")
len(curs.fetchall())

214005

In [14]:
# get only one id
curs.execute("""SELECT file_path FROM image_path WHERE image_id = '0000000_'""")
curs.fetchone()[0]

'\\images\\coco2017_train\\train2017\\000000147328.jpg'

In [15]:
my_id = '0000000_'
curs.execute(f"SELECT file_path FROM image_path WHERE image_id = '{my_id}'")
curs.fetchone()[0]

'\\images\\coco2017_train\\train2017\\000000147328.jpg'

In [41]:
conn.close()

## Check table in the database

In [14]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect(os.path.join(project_path, "databases/file_path.db"))

# Create a cursor object to execute SQL statements
cursor = conn.cursor()

# Query the sqlite_master table to retrieve all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

# Fetch all table names from the query result
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

# Close the cursor and the database connection
cursor.close()
conn.close()

image_path